* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope';
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER */
.header {
    padding: 15px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto 0 32px;
}

.header__menu-item {
    margin-left: 32px;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #18191F;

    transition: all .3s;
}

.header__menu-item:hover {
    color: #8C30F5;
}

.header__btns-appsote {
    margin-left: 12px;
}

/* SERVICES */
.services {
    background-color: #0B0D17;

    padding: 80px 0px;
}

.services__title {
    color: #fff;
    max-width: 730px;

    margin: 0 auto 48px auto;

    font-weight: 800;
    font-size: 48px;
    text-align: center;
}

.services__menu {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    margin-bottom: 48px;

}

.services__menu-item {
    background-color: #fff;
    color: #18191F;
    border-radius: 8px;

    padding: 40px 32px;
}

.services__menu-img {
    margin-bottom: 56px;
}

.services__menu-title {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 12px;
}

.services__menu-text {
    font-size: 16px;
    font-weight: 400px;

    padding-bottom: 40px;
}

.services__menu-link {
    display: block;
    color: #8C30F5;
    font-size: 12px;
    font-weight: 700;
    
    position: relative;
}

.services__menu-link::after {
    content: '';
    background-image: url(../images/arrow-purple.svg);
    background-repeat: no-repeat;

    background-position: center center;
    width: 16px;
    height: 16px;

    position: absolute;
    left: 50px;
    top: 1px;
}

.services__btn {
    display: block;
    width: 180px;
    padding: 16px 20px;

    background-color: #0B0D17;
    border: 1px solid #fff;
    border-radius: 8px;

    color: #fff;
    font-size: 20px;
    font-weight: 700;

    position: relative;
}

.services__btn::after {
    content: '';
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;

    background-position: center center;
    width: 24px;
    height: 24px;

    position: absolute;
    left: 145px;
    top: 13px;
}

/* LOGOS */
.logos {
    padding: 20px 0;
}

.logos__menu {
    display: flex;
    justify-content: space-evenly;
    // max-width: 890px;
    margin: 0 auto;
    position: relative;

    padding: 25px 0;
}

.logos__menu::before, .logos__menu::after {
    content: '';
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
}

.logos__menu::before {
    top: 0;
}

.logos__menu::after {
    bottom: 0;
}