

body {
    margin: 0 auto;
    width: 1800px;
    overflow-y: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    background-color: #FFA07A;
}

.header__title {
    margin: 0 50px;
    padding-top: 10px;
    font-family:'Verdana';
    color: black;
    font-size: 16px;
    font-weight: 700;
}

hr {
    background-color: #FF7F50;
    height: 3px;
}

.form {
    padding: 30px 50px 0 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__block-left {
    display: flex;
    flex-direction: column;
}

.form__item {

    color: black;
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: 700;

    text-align: right;

    margin-bottom: 30px;
}

span {
    float: left;
    padding-right: 100px;
}

.form__text::after {
    content: "*";
    color: red;
}

input {
    height: 20px;
}

textarea {
    resize: none;
}

select {
    width: 247px;
    height: 26px;
}

fieldset {
    border: none;
}

legend {
    position: absolute;

    color: black;
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: 700;
}

.form__fieldset {
    display: flex;
    flex-direction: column;

    float: right;

    margin-bottom: 30px;
}

.form__fieldset span {
    padding-right: 5px;

}

.form__fieldset .form__item {
    color: black;
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: 400;

    margin-bottom: 5px;
}

.form__block-right {
    display: flex;
    flex-direction: column;   
}

.form__block-right .form__item:nth-child(2) {
    font-weight: 400;
}

.form__block-right .form__item:nth-child(1) {
    font-weight: 400;
}

.form__block-right .form__item span {
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer input {
    height: 50px;
    width: 150px;
    background-color: #fff;
    border: 2px solid #FF7F50;
    font-size: 18px;
    font-family: 'Verdana', sans-serif;
    margin: 10px 5px 0 0;
}









