body {
    margin: 0 auto;
    width: 1800px;
    overflow-y: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 40px;
    background-color: #FFA07A;
}

hr {
    background-color: #FF7F50;
    height: 3px;
}

.header__title {
    margin: 0 50px;
    font-family:'Verdana';
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.form__left {
    position: absolute;
}

/* .form {
    padding: 50px 300px 0px 40px;
} */

td {
    vertical-align: top;
    width: 200px;
}

p {
    color: black;
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: 700;
}

.form__item-required::after {
    content: "*";
    color: red;
}

textarea {
    resize: none;
}

select {
    width: 247px;
}

fieldset {
    border: none;
}

legend {
    position: absolute;
}

.form__left__fieldset-table {
    margin:  10px 230px;
}

.form__left__fieldset-table td {
    width: 0;
}

.form__left__fieldset-table p {
    font-weight: 500;
}

.form__right {
    display: flex;
    justify-content: flex-end;
}

.form__right .form__table {
    width: 700px;
}

.footer {
    background-color: #FFA07A;
    height: 40px
}

/* #form__firstName, #form__lastName {
    margin-left: 20px;
}

#form__lastName {
    margin-top: 30px;
} */