
div {
    text-align: center;
    width: 200px;

}

h3  {
    text-align: left;
    color: red;
    font-weight: 500;
    padding-bottom: 10px;
}
p {
    padding-right: 40px;
    font-size: 12px;
}

/* .left_line, .right_line {

    text-align: center;
    width: 10px;
    background-color: black;
    height: 1px;
}

.left_line + p {
    text-align: center;
      
} */

#verse {
    padding-top: 10px;
    position: relative;
    text-align: left;
    
}



