* {
    box-sizing: border-box;
}

.header {
    height: 90px;
}

.container  {
    margin: 0 auto;
    width: 1600px;

}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    margin: 37px 0px 0px 0px;
}

.menu {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-left: 97.5px;
    color: #1B0A42;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.buttons {
    width: 100%;
    margin: 30px 0px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#sign_in {
    color: #1B0A42;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    padding: 18px 40px 0 0;
    cursor: pointer;
}


#sign_up {
    background-color: #33A2E0;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    padding: 18px 31px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
    transition: all .5s;
}

#sign_up:hover {
    background-color: #2a8ac2;
}

/* content */
.content {
    padding: 131px 0 0 125px;

    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
}

.h__text {
    margin-top: 60px;

    color: #1B0A42;
    font-size: 72px;
    font-family: 'Ramaraja';
    font-weight: 400;
    
}

.p__text {
    padding-top: 30px;

    color: #9A9A9A;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;

}

#content__learn-more {
    margin: 50px 407px 0 0;
    width: 152px;
    height: 63px;

    border: none;
    border-radius: 6px;

    background-color: #33A2E0;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;

    cursor: pointer;
    transition: all .3s;
}

#content__learn-more:hover {
    background-color: #2a8ac2;
}

.img  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.img img {
    width: 796px;
}